<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588090477899-ok9t75130qa890dm2i2h8kcl1i94o6em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588090477899-ok9t75130qa890dm2i2h8kcl1i94o6em</string>
	<key>API_KEY</key>
	<string>AIzaSyAr3wopggH2FlQRJdEQ2-zhic6Qa5hWlN4</string>
	<key>GCM_SENDER_ID</key>
	<string>588090477899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atrees.Netflix-Clone</string>
	<key>PROJECT_ID</key>
	<string>netflix-clone-3e4b3</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-clone-3e4b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588090477899:ios:324fe5a0fca1b0f5362cce</string>
</dict>
</plist>